:root {
  --user-color: #FF4500;
  --user-color-btn: #FFA500;
  --user-color-light: #F0E68C;
  --computer-color: #800080;
  --computer-color-light: #EE82EE;
  --background-color-dsb: #808080;
  --background-color-dsb-light: #BBBBBB;
  --background-color: #000080;
  --background-color-inter: #0000CC;
  --background-color-light: #ADD8E6;
  --text-color: #F5F5F5;
  --score-number: #00FF00;
  --score-background: #111111;
}

* {
  box-sizing: border-box;
  font-family: "Akaya Telivigala";
  text-transform: uppercase;
}

/* Otimizado para 480px */

body {
  background: var(--background-color);
  margin: 0 auto;
  color: var(--text-color)
}

header {
  background: var(--user-color-btn);
  font-size: 1.75rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

main {
  width: 90%;
  margin: 1.5rem auto;
}

.placar {
  font-size: 1.75rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nome {
  width: 85%;
  background: var(--user-color-btn);
  color: var(--background-color);
  border: var(--background-color) solid 1px;
  text-transform: uppercase;
}

.placar-numero {
  font-family: "Play";
  width: 15%;
  color: var(--score-number);
  background: var(--score-background);
  border: var(--background-color) solid 1px;
}

#nome-usuario {
  order: 0;
}

#placar-usuario {
  order: 1;
}

#nome-computador {
  order: 2;
}

#placar-computador {
  order: 3;
}

.base-placar {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}

.botao-zerar {
  font-size: 1.25rem;
  border: none;
  background: var(--background-color-light);
  color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.botao-zerar:hover {
  background: var(--background-color-inter);
  color: var(--background-color-light);
}

.titulo {
  font-size: 1.5rem;
  text-align: center;
}

#opcoes-usuario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.botao-opcao {
  font-size: 5rem;
  border: none;
  background: var(--user-color-btn);
  color: var(--text-color);
  padding: 10px;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
}

.botao-opcao:hover, .botao-opcao:active {
  background: var(--user-color);
}

.botao-opcao:disabled {
  background: var(--background-color-dsb);
}

.display {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.icone {
  font-size: 24vw;
  border-radius: 0.5rem;
  padding: 10px;
}

.escolha {
  width: 42vw;
  height: 42vw;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.5s;
  background: var(--background-color-dsb);
}

.exibicao-vencedor {
  background: var(--background-color-dsb-light);
  /* display: none; */
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem auto;
  text-align: center;
  color: var(--background-color);
  transition: 0.5s;
}

#vencedor-jogo {
  font-weight: bold;
}

footer {
  width: 100%;
  background: var(--user-color-btn);
  color: var(--background-color);
  padding: 1rem;
}

.dev {
  text-align: center;
  padding: 0.5rem;
}

.links {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.links a {
  color: var(--text-color);
  font-size: 2rem;
  margin: 0 auto;
  transition: 0.5s;
}

.links a:hover {
  color: var(--background-color-inter);
}

/* Acima de 480 */

@media screen and (min-width: 481px) {
  .placar {
    font-size: 1.75rem;
    flex-wrap: nowrap;
  }
  
  .nome {
    width: 42%;
  }
  
  .placar-numero {
    width: 8%;
  }

  #placar-computador {
    order: 2;
  }
  
  #nome-computador {
    order: 3;
  }

  .botao-opcao {
    width: 27.5vw;
    height: 27.5vw;
    font-size: 8rem;
  }
}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 1201px) {
  .content {
    border: green solid 1px;
    display: flex;
    justify-content: space-between;
  }

  .titulo {
    border: yellow solid 1px;
  }

  #opcoes-usuario {
    flex-direction: column;
    width: 150px;
    height: 100%;
    margin: 0 auto;
    border: red solid 1px;
  }

  .botao-opcao {
    width: 150px;
    height: 150px;
    font-size: 8rem;
  }

  .display {
    width: calc(100% - 170px);
    border: magenta solid 1px;
  }  

  .escolha {
    width: 30vh;
    height: 30vh;
  }
}